.directory {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  padding: 7rem 7rem;
}
